.intro-container {
    height: 70vh;
    background-color: primary;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 8px;
    padding: 10px;
    transition: background-color 1s ease;
  }
  
  .intro-container button {
    transition: background-color .8s ease, color .8s ease;
  }

.intro-container button:hover {
    transform: scale(1.1);
    background-color: #BFA181;
    color: white;
}
