@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: #0A1828;
}

::-webkit-scrollbar-thumb {
    background: #1785813b;
    border-radius: 10px;
}

i{
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
i:hover{
    color: white;
    transform: scale(2)
}

.Icon-Tags {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.Icon-Tags:hover{
    color: white;
    transform: scale(2)
}

.p{
    animation: p 2s infinite;
}

@keyframes p{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.r{
    animation: r 2s infinite;
}

@keyframes r{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}